.image-container {
  /* position: relative; */
  overflow: hidden;
  display: flex;

  justify-content: flex-start;
  align-items: center;
  /* z-index: -1; */
}

.zoom-image {
  transition: transform 0.5s ease;
  width: 250px;
  height: 200px;
}

.image-container:hover .zoom-image {
  transform: scale(1.2); /* Adjust the scale as needed */
  z-index: -99;
}
