/** Mention: CSS Reset file is added. Check Reset.css on `src`. **/

/* In index.css I've added the CSS for:
1. Navbar,
2. Footer, and
3. Global classes.*/

/* In App.css I've put the App-div and dhe pages-divs */

/* Everything else is contained with their own CSS file.
Expect 1-10 Components to have a corresponding CSS file. */
/**-------------------------GLOBAL CLASSES------------------------* */

/* Active class: */
.active {
  /* Text gradient: */
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Online status: */
.online-status {
  display: flex;
  grid-gap: 8px;
  align-items: center;
  padding-left: 20px;
  z-index: 99;
}
.circle {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.green-circle {
  background-color: green;
}
.red-circle {
  background-color: red;
}

.no-underline {
  text-decoration: none;
}

.blue {
  color: #009fff;
}

/**--------------------------------------------------------------------------------------------------------------**/
/**                                                     DESKTOP                                                  **/
/**--------------------------------------------------------------------------------------------------------------**/

.nav-menu {
  position: fixed;
  width: 100px;
  height: 100vh;
  display: flex;
  margin-left: -90px;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}
.nav-menu:hover {
  margin-left: 0;
}
/* Open nav with side effect: */
.open-nav-menu {
  width: 5px;
  height: 100vh;
  background: linear-gradient(
    to right,
    #833ab4,
    #fd1d1d,
    #fcb045,
    #4caf50,
    #2196f3,
    #673ab7,
    #f44336,
    #ffeb3b
  );
  background-size: 800% 800%;
  animation: gradientAnimation 5s ease infinite;
}
/* This gradient applies globally: */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Effect ends */

/* --------Menu tools-------- */

.nav-menu-tools {
  background-color: #434343;
  width: 88px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 150px 5px 0px 5px;
  gap: 20px;
}
.nav-menu-tools label {
  font-weight: 500;
  color: black;
}
.nav-menu-tools select {
  padding: 5px;
  border: none;
  margin-top: 5px;
  background-color: transparent;
  border-radius: 5px;
}
.nav-menu-tools select:hover {
  cursor: pointer;
}
.nav-menu-tools select option {
  background-color: rgb(183, 208, 236);
}
.nav-menu-tools select option:hover {
  cursor: pointer;
}

.theme-selector {
  background: #009fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f68b9b,
    #009fff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #de679a,
    #009fff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** --------------------- NAVBAR ---------------------- **/

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000000e0;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  align-items: center;
  z-index: 99;
}

.nav-list ul {
  display: flex;
  grid-gap: 100px;
  list-style: none;
}
.nav-list ul a {
  /* position relative for adding an underline on `after`*/
  position: relative;
  color: #ffffff;
  text-decoration: none;
  /* letter-spacing: 1px; */
  font-size: 18px;
  font-weight: 500;
  /* padding: 10px 15px; */
  border: none;
  border-radius: 5px;
}
.nav-list ul a::after {
  /* Underline: */
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  transition: all 0.3s ease;
}
.nav-list ul a:hover::after {
  width: 100%;
}

.nav-right {
  display: flex;
  gap: 25px;
}
.nav-right button {
  padding: 8px 15px;
}
.nav-mobile {
  display: none;
}
.nav-mobile-open-menu {
  display: none;
}

/**--------------------------------FOOTER----------------------------  */
.footer {
  position: relative;
  width: 100%;
  background: linear-gradient(to right, #434343 0%, black 100%);
}
.footer .footer-content {
  height: 300px;
  background: linear-gradient(to right, #434343 0%, black 100%);
  border-top: 20px solid rgb(130, 161, 199);
  border-top: 20px solid rgba(255, 255, 255, 0.707);
  border-top-left-radius: 70%;
}

.footer-circle {
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.707);
  border-radius: 50%;
  border: 5px dotted rgba(0, 0, 0, 0.614);
  margin-top: 2%;
  margin-left: 2%;
}
.reso-contact {
  position: absolute;
  bottom: 70px;
  left: 100px;
  color: white;
  display: flex;
  gap: 20px;
}
.reso-contact a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.reso-contact a:hover {
  color: #808080;
}

.reso-copyright {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: white;
  font-size: 18px;
}

/**--------------------------------------------------------------------------------------------------------------**/
/**                                                     TABLET                                                   **/
/**--------------------------------------------------------------------------------------------------------------**/
@media (min-width: 768px) and (max-width: 1067px) {
  /** --------------------- NAVBAR ---------------------- **/

  .nav-list ul {
    grid-gap: 20px;
  }

  .nav-right {
    gap: 25px;
  }
  .nav-right button {
    padding: 12px 16px !important;
  }

  /**--------------------------------FOOTER----------------------------  */

  .footer-circle {
    width: 50px;
    height: 50px;
  }
  .reso-contact {
    left: 50px;
    gap: 10px;
  }
  .reso-contact a {
    font-size: 16px;
  }
  .reso-contact a:hover {
  }

  .reso-copyright {
    bottom: 50px;
    right: 30px;
    font-size: 16px;
  }
}

/**--------------------------------------------------------------------------------------------------------------**/
/**                                                     MOBILE                                                   **/
/**--------------------------------------------------------------------------------------------------------------**/
@media (min-width: 320px) and (max-width: 767px) {
  .nav-menu {
    width: 120px;
  }
  .nav-menu:hover {
  }

  .open-nav-menu {
    width: 30px;
    height: 100px;
    writing-mode: vertical-rl;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: white;
  }

  /** --------------------- NAVBAR ---------------------- **/
  .navbar {
    /* display: none; */
    position: relative;
    background-color: black;
  }
  .nav-list {
    display: none;
  }

  .nav-right {
    display: none;
  }
  .nav-right button {
  }
  /*------------------Nav mobile----------------  */
  .nav-mobile-open-menu {
    color: black;
    display: block;
    background-color: white;
    font-size: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .nav-mobile {
    display: flex;
    background-color: black;
    width: 100%;
    height: 500px;
    justify-content: space-between;
    padding: 100px 70px;
    display: none;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: transform 3s ease, opacity 0.5s ease;
  }
  .nav-mobile.show-mobile {
    display: flex;
    transform: scaleY(1);
    opacity: 1;
  }
  .nav-mobile-list {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 50px;
    text-align: center;
    /* background-color: red; */
    color: white;
  }
  .nav-mobile-list a {
    text-decoration: none;
    color: white;
    text-align: left;
    font-size: 18px;
  }
  .nav-mobile-buttons {
    display: flex;
    flex-direction: column;

    gap: 50px;
    /* background-color: red; */
  }

  /**--------------------------------FOOTER----------------------------  */
  .footer {
  }
  .footer .footer-content {
  }

  .footer-circle {
    width: 40px;
    height: 40px;
  }
  .reso-contact {
    gap: 10px;
    left: 0;
    width: 100%;
    justify-content: space-evenly;
  }
  .reso-contact a {
    font-size: 16px;
    padding: 10px 20px;
  }
  .reso-contact a:hover {
  }

  .reso-copyright {
    bottom: 50px;
    right: 30px;
    font-size: 16px;
    bottom: 30px;
  }
}
